@{
    ViewBag.Title = "Sobre o sistema";
}

<h2>@ViewBag.Title</h2>
<p>O sistema de gerenciamento de prazos dos trabalhos de conclusão de cursos, 
    também chamado de SGP (Sistema de gerenciamento de projetos), 
    permite gerenciar trabalhos que devem ser apresentados, 
    objetivando diminuir a ocorrência da perda de prazos e 
    possibilitar um controle melhor por parte dos coordenadores, 
    que podem visualizar dados dos orientadores, alunos e seus trabalhos, bem como das turmas.</p>
