@section links
{
    <link href="~/Content/sgp/error.css" rel="stylesheet" />
}

<div id="error-div">
    <img id="error-logo" src="~/Resource/large-logo.png" alt="Logo SGP" />
    <h2 class="text-info">OOPS!</h2>
    <p>Ocorreu um erro inesperado! Pedimos desculpas pelo transtorno</p>
    <a class="btn btn-outline-info" href="/">Ir para a dashboard</a>
</div>